{% extends "base.twig" %}

{% block body %}
    <main>
        <h2>Furry Fandom Technological Wizardry</h2>
        <p>A blog and forum site fur the fuzzy kinds of people.</p>
        Specializing in:
        <ul>
            <li>Puns!</li>
            <li>Infurmation Security!</li>
            <li>Open Source stuff!</li>
            <li>Unordered lists!</li>
            <li>Good code and bad design!</li>
            <li>Addition of pointless list items to make the white space bigger!</li>
            <li>Oh yeah, why don't I just use a bunch of breaks for that?</li>
            <br><br><br><br><br><br><br><br>
        </ul>
    </main>
{% endblock %}