<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>Barkane Arts</title>
    {% endblock %}
    </head>
    <body>
    {% block body %}
        <h3>HTTP/1.1 404 Not Found</h3>
        <p>
            (Base template.)
        </p>
    {% endblock %}
    </body>
</html>